.jstb_emoji {
    background-image: url(../images/smile.png);
    background-size: 16px 16px;
}
#emojiDialog {
  padding: 5px;
}

#emojiTabs.ui-tabs .ui-tabs-panel {
  padding: 10px 5px 5px 5px;
}

div.wiki img.emoji {
  vertical-align: bottom;
}
