.jstb_emoji {
    background-image: url(../images/smile.png);
    background-size: 16px 16px;
}
#emojiDialog {
  padding: 5px;
}

#emojiTabs.ui-tabs .ui-tabs-panel {
  padding: 10px 5px 5px 5px;
  font-size: 1.57em;
}

#emojiTabs.ui-tabs .ui-tabs-nav {
  font-size: 0.861em;
}

span.emoji {
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "NotoColorEmoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
  font-size: 1.3em;
}

#emojiTabs.ui-tabs span.emoji {
  font-size: 1em;
  padding: 3px;
  cursor: pointer;
  display: inline-block;
}
